absl-py==2.1.0
autopep8==2.3.2
black==25.1.0
click==8.1.8
h5py==3.13.0
joblib==1.4.2
keras==3.8.0
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.1
mypy-extensions==1.0.0
namex==0.0.8
numpy==1.26.4
nvidia-nccl-cu12==2.25.1
optree==0.14.0
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.12.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.1
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
TA-Lib==0.4.32
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2025.1
xgboost==2.1.4
